[user]
	email = marius@NTNU24923
[submodule]
	recurse = true
[credential]
	helper = "!f() { /home/marius/.vscode-server/bin/3b889b090b5ad5793f524b5d1d39fda662b96a2a/node /tmp/vscode-remote-containers-086b6d193bb834b80fbfb18a75b9a2460c6fb1f9.js $*; }; f"
